* {
    box-sizing: border-box;
}


/*header stylings*/

.logo {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo,
img {
    height: 100px;
}

.count {
    background-color: lightgray;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


/*start page stylings*/

h1 {
    background-color: lightgrey;
}

.startContainer {
    background-color: lightgrey;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.start {
    text-align: center;
}


/*Questions html page*/

.QandAForm {
    /* div with question and answers*/
    background: rgba(155, 0, 0, 0.849);
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

fieldset {
    border: none;
}

.submitButton,
.answerButton {
    width: 200px;
}

.finalScore {
    background: rgba(155, 0, 0, 0.849);
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}